$color-white: #fff;
$color-palette-1: #B06E6D;
$color-palette-1-darker: #905b5b;
$color-palette-2: #55556B;
$color-palette-3: #AB9EB5;
$color-palette-4: #616B95;
$color-palette-5: #E3B0B2;
$color-palette-6: #252D4E;
