.form-wrapper {
  height: 100vh;
  background: url("images/background.jpg"); }

.form-container {
  max-width: 500px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px 25px; }

.btn-palette-1 {
  background-color: #B06E6D;
  border-color: #B06E6D;
  color: #fff; }
  .btn-palette-1:hover, .btn-palette-1:focus, .btn-palette-1:active {
    background-color: #905b5b;
    border-color: #905b5b;
    color: #fff; }

.logo {
  font-size: 30px;
  color: #B06E6D;
  margin-bottom: 20px; }

.nav-palette-5 {
  background-color: #E3B0B2;
  border-radius: 0; }

.nav-brand {
  color: #fff;
  font-size: 25px; }
  .nav-brand:hover {
    color: #fff; }

.nav-user {
  color: #B06E6D;
  line-height: 50px; }

.nav-logout {
  margin-left: 25px; }

a {
  color: #B06E6D; }
  a:hover {
    color: #905b5b;
    cursor: pointer;
    text-decoration: none; }
