@import 'stylesheets/variables.scss';

.form-wrapper {
  height: 100vh;
  background: url('images/background.jpg');
}

.form-container {
  max-width: 500px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px 25px;
}

.btn-palette-1 {
  background-color: $color-palette-1;
  border-color: $color-palette-1;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-palette-1-darker;
    border-color: $color-palette-1-darker;
    color: $color-white;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: $color-palette-1;
  margin-bottom: 20px;
}

.nav-palette-5 {
  background-color: $color-palette-5;
}

.nav-brand {
  font-size: 25px;
}

.nav-user {
  color: $color-palette-1;
  line-height: 50px;
}

.nav-logout {
  margin-left: 15px;
}

a {
  color: $color-palette-1;

  &:hover {
    color: $color-palette-1-darker;
    cursor: pointer;
    text-decoration: none;
  }
}
